@media only screen and (min-width: 32.5em){
    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 1.5rem;
    }

    .header-box{
        background-color: #659157;
        border-radius: 50px 50px 0 0;
        padding: 0.5em;
        border: 1px solid black;
        text-align: center;
        
    }
    
    .family-Image{
        float: right;
        border: .50em solid ;
        border-radius: 60px;
    }
    
    .footer-box{
      background-color: #659157;
      border-radius: 0 0 50px 50px;
      padding: 0.5em;
      border: 1px solid black;
      text-align: center;
    }
}