body{
    background-color:#69A2B0;
    text-align: center;
    margin: auto;
}

.header-box{
    background-color: #659157;
    border-radius: 50px 50px 0 0;
    padding: 0.5em;
    border: 1px solid black;
    text-align: center;
    
}

.family-Image{
    float: right;
    border: .45em solid ;
    border-radius: 50px;
}

.footer-box{
  background-color: #659157;
  border-radius: 0 0 50px 50px;
  padding: 0.5em;
  border: 1px solid black;
  text-align: center;
}

li{
  list-style: none;
}

h2{
  text-align: center;
}

img{
  border-radius: 50px;
}
