html {
    background-color: lightslategray;
}

h1 {
    color: rgb(236, 182, 214);
    text-align: center;
}


article img[data-src] {
    filter: blur(2em);
}
  
article img {
    filter: blur(0em);
    transition: filter 0.5s;
}