:root {
    /* change the values below to your colors from your palette */
    --primary-color: #114b5f;
    --secondary-color: #1b998b;
    --accent1-color: #beffc7;
    --accent2-color: #4f000b;
    --accent3-color:#5f1721;
  /* change the values below to your chosen font(s) */
    --heading-font: "Patrick Hand";
    --paragraph-font: DM Serif Text, Helvetica, sans-serif;
  
    
  }
  
  html {
      background-color: var(--primary-color);
  }
  body {
    margin: 0 auto;
    background-color: var(--primary-color);
  }

  main {
      padding: 1em;
      max-width: 900px;
      margin: 0 auto;
  }
  img {
    display: flex;
    border-radius: 25px;
    border: solid;
  }
  h1, h2, h3, h4, h5, h6 {
      font-family: 'Patrick Hand', cursive;
      color: var(--headline-color-on-white);
  }
  header, footer {
    background-color: var(--accent1-color);
    padding: 1em;
    text-align: center;
  }

  header {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px 50px 0 0;
      border-color: var(--primary-color);
      border-style: ridge;
      border-width: thick;
  }

  header img {
      width: 75%;
  }

  .title {
      display: flex;
      flex-direction: column;
      font-size: 1.5em;
  }

  .title h1 {
      color:var(--accent2-color)
  }

  a {
    text-decoration: none;
  }
  
  p, ul ,ol {
    font-family: 'DM Serif Text', serif;
    color: var(--paragraph-color);
    padding: 1em;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 50px 50px;
    border-color: var(--primary-color);
    border-style: ridge;
    border-width: thick;
  }
   

  .friday-alert {
    background-color: #e4e01d;
    color: black;
    padding: 1.5em;
    text-align: center;
    font-family: 'Abril Fatface', cursive; 
    font-size: 150%;
  }

  .friday-alert p {
    margin: 0;
    font-size: 20;
  }
  .heroimg {
    width:100%;
    height: 30em; 
    border-radius: 0 0 0 0;
  }

  .herodiv {
    margin: 10px auto;
    position: relative;
    width: 960px;
    height:300px;
  }
  .hero-ph {
    margin: 10px auto;
    border: 1px solid #333;
    width: 100%;
    height: 250px;
  }

  

  .weather-summary {
    position: absolute;
    top: 50px;
    left: 50px;
    color: white;
    text-align: center;
    background-color: #1b998b;
    border: none;
    box-shadow: 0 0 45px #777;
  }

  .summary-content {
    margin: 30px;
    width: 10em;
    height: 0px;
    font-family: 'Abril Fatface', cursive; 
  }

  /*Weekly Forcast*/
  .weekly-forcast {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px,1fr));
    background-color: var(--accent1-color);
    padding: 25px;
    border-radius: 15px;
  }

  .forcast-image {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .col-head {
    color: white;
    background-color: var(--accent3-color);
    font-size: large;
    text-align: center;
    padding-left: 25px;
    padding-right: 45px;
    margin: 20px;
    height: 15px;
  }

  .data {
    color: white;
    background-color: var(--accent3-color);
    padding: 10px;
    text-align: center;
  }


 /*main article content*/
 #article-box {
  color: white;
  font-size: 1.1em;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid var(--primary-color);
  background-color: var(--accent3-color);
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
 }
 .article-image {
   width: 50%;
   margin-top: 20px;
   float: right;
 }

 /*Map and contact Information */
 #contact-map-info {
   background-color: var(--accent1-color) ;
   padding-top: 20px;
   padding-bottom:5em ;
   margin-top: 20px;
   border-radius: 15px;
 }

 #contact-info {
   float: center;
 }

.contact-details {
  float: right;
  text-align: left;
}

  /* Social Media Icons */
  .fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 3px;
    border-radius: 50px;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

