:root {
    /* change the values below to your colors from your palette */
    --primary-color: #114b5f;
    --secondary-color: #1b998b;
    --accent1-color: #beffc7;
    --accent2-color: #4f000b;
    --accent3-color:#5f1721;
  /* change the values below to your chosen font(s) */
    --heading-font: "Patrick Hand";
    --paragraph-font: DM Serif Text, Helvetica, sans-serif;
  
    
  }
  
  html {
      background-color: var(--primary-color);
  }
  body {
    margin: 0 auto;
    background-color: var(--primary-color);
  }

  main {
      padding: 1em;
      max-width: 900px;
      margin: 0 auto;
  }
  img {
    display: flex;
    max-width: 300px;
    border-radius: 25px;
    border: solid;
  }
  h1, h2, h3, h4, h5, h6 {
      font-family: 'Patrick Hand', cursive;
    color: var(--headline-color-on-white);
  }
  header, footer {
    background-color: var(--accent1-color);
    padding: 1em;
    text-align: center;
  }

  header {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px 50px 0 0;
      border-color: var(--primary-color);
      border-style: ridge;
      border-width: thick;
  }

  header img {
      width: 75%;
  }

  .title {
      display: flex;
      flex-direction: column;
      font-size: 1.5em;
  }

  .title h1 {
      color:var(--accent2-color)
  }

  a {
    text-decoration: none;
  }
  
  p, ul ,ol {
    font-family: 'DM Serif Text', serif;
    color: var(--paragraph-color);
    padding: 1em;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 50px 50px;
    border-color: var(--primary-color);
    border-style: ridge;
    border-width: thick;
  }
   
  .contentbox2 {
      background-color: var(--secondary-color);
      padding: 20px;
      margin: 25px;
      white-space: normal;
  }
  
  .contentbox1 {
      background-color: var(--accent1-color);
      padding: 20px;
      margin: 25px;
      white-space: normal;
  }