/* Media Query for medium+ views */
@media only screen and (min-width: 35em) {
    :root {
        --primary-color: #82DDF0;
        --secondary-color: #F15946;
        --accent1-color: #86CD82;
        --accent2-color: #E7E247;
        --accent3-color: #D3C4D1;
    }

    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
	
	

	#weather-summary {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        margin: 10px 0 0 10px;
        box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, .5);
	}
	
	.gallery {
		display: grid;
		grid-template-columns: 1fr 1fr;
		
    }
    
    /*//////////////Reservations Page/////////////////*/

    /*-----------Content----------*/
    #list li {
        list-style-type: square;
        padding: 0;
        font-size: 15px;
        text-align: left;
    }

    #list-grid-box {
        display: grid;
        grid-template-areas:
            'left right';
    }


    #right {
        margin: auto;
        grid-area: right;
    }

    #left {
        grid-area: left;
    }
    /*----------Form----------*/
    form label.top input,
    form label.top select,
    form label.top select.option {
        -webkit-appearance: none;
        display: block;
        border: solid 1px #999;
        border-radius: 4px;
        padding: .75rem;
        color: #555;
        max-width: 85%;
        background-color: white;
    }
	
	/*-----------weekly Forcast-----------*/
	.forcast ul {
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex: 1 1 100%;
        justify-content: center;
    }

    .forcast ul li {
        margin: 0.5em 0.2em;
        padding: 1.5em;
        background-color: #beffc7;
        color: #481620;
    }

    .forcast ul li i {
        display: block;
    }

    .card {
        display: grid;
        grid-template-columns: 1fr;
        box-shadow: 5px 5px 3px #F15946;
        border-radius: 10px;
        margin: 1em;
        padding: 1em;
    }

      /*--------------Map & Contact Info------------*/
 

    #contact-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
  }

  .container {
      grid-template-columns: 1fr 1fr;
  }
}